<!DOCTYPE html>
<!-- This is the template for the entire application -->
<html>
  <head>
    <title>Cabinet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

      <!-- DEVISE 3 - Adding both classes to use devise -->
      <!--   3. Ensure you have flash messages in app/views/layouts/application.html.erb. For example: -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


  <body>
    <!-- All of the VIEW files are rendered here, with "yield" -->
    <%= yield %>
  </body>
</html>
